body{
    background-color: yellow ;
}
.shit{
    background-color: aliceblue;
    margin: 20px;
    padding: 20px;
}
#shit2{
    background-color: blanchedalmond;
    margin: 22px;
    padding: 22px;
}

