body{
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    /*固定背景图像，不会一起滚动*/
    background-attachment: fixed;
    counter-reset: p;
/*    */
}
#shit3{
    height: 100px;
    width: 100px;
    color: black;
    background-color: white;
    /*北京透明度*/
    opacity: 0.9;
    /*边框属性*/
    border-style:dashed ;
    border-width: 5px;
    border-color: aqua;
    border-radius: 5%;
    font-size:10px ;
    text-align: center;
/*    外边距*/
    margin: 100px 100px 100px 100px;
/*    内边距*/
    padding: 30px 20px 20px 20px;
    outline-color:yellow ;
    outline-width:10px ;

/*    字母间距*/
    letter-spacing: 3px;
/*    字母阴影*/
    text-shadow: 5px 5px red;
    font-family: "Times New Roman";
    /*溢出字体被裁剪 scroll是再滚动条中*/
    overflow: scroll;
}
/*通用选择器是*  */
/*组合选择器*/
h1,h2,p{
    text-align: center;
    color: yellow;
}

/*后代选择器*/
ul em{
    color: red;
    font-size: 22px;
}
#shit3:hover{
    background-color:pink ;
}
div.sticky{
    position: sticky;
    top: 0;
    background-color: red;
    width: 100px;
    border-color: black;
}
/*向右浮动*/
img{
    float: right;
}
/*计数器*/
p::before{
    counter-increment:p ;
    content: counter(p);
}