<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
  <!-- vue set() 往对象追加属性 -->
  <div id="root">
    <button @click="add">添加一个学生</button>
    <button @click="addHobby">添加一个爱好</button>
    <h2>学校名称{{name}}</h2>
    <h2>学校地址{{locat}}</h2>
    <h2>校长是{{leader}}</h2>
    <h2>学校方向{{student.dirc}}</h2>
    <hr>
    <h2>学生姓名：{{student.name}}</h2>
    <h2>学生年龄：真实{{student.age.sAge}},对外{{student.age.rAge}}</h2>
    <h2>朋友列表</h2>
    <ul>
      <li v-for="f in student.friends">{{f.name}}--{{f.age}}</li>
    </ul>
    <h2>爱好</h2>
    <ul>
      <li v-for="h in student.hobby">{{h}}</li>
    </ul>
  </div>
  <script>
    const vm=new Vue({
      el:'#root',
      data () {
        return {
          name:'hawkins',
          locat:'wefa',
          student:{
            name:'tom',
            age:{
              rAge:40,
              sAge:29,
            },
            friends:[
              {name:'jerry',age:35},
              {name:'tom',age:35},
              {name:'hack',age:35},
            ],
            // 对于数组，没有提供getter和setter
            hobby:['打球','打游戏','打架','喝茶']
          }
        }
      },
      methods: {
        add(){
          this.$set(this,'leader','hawkins')
          // this.$set(this.student,'dirc','西')//报错，不能给data添加数据，但可以给data下面一级对象添加属性
        },
        addHobby(){
          this.student.hobby.splice(0,1,'开车')
        }
      }
    })
  </script>
</body>
</html>